<!DOCTYPE html>
{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app/style.css' %}">
    <title>PW-MANAGER</title>
</head>
<body>
    <!----- header part ----->
    {% include "app/header.html" %}

    <!----- main part ----->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!----- footer part ----->
    {% include "app/footer.html" %}
</body>
</html>