<!DOCTYPE html>
{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="register-new-data">
    <div class="container">
        <form method="post">
            <div class="contents">
                {% csrf_token %}

                <label class="name">サイト名</label>
                {{ form.name|add_class:"input" }}
    
                <label class="password">パスワード</label>
                {{ form.password|add_class:"input" }}
                
                <!----- popup part ----->
                {% include "app/popup.html" %}

                <button type="submit">登録する</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}