<!DOCTYPE html>
{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="register-new-data">
    <div class="container">
        <form method="post">
            <div class="contents">
                {% csrf_token %}

                <label class="name">サイト名</label>
                <div class="name-contents">
                    {{ form.site_name|add_class:"input" }}
                    <div class="dummy create_pw_btn"></div>
                </div>
    
                <label class="password">パスワード</label>
                <div class="pw-contents">
                    {{ form.password|add_class:"input" }}

                    <!----- popup part ----->
                    {% include "app/popup.html" %}
                </div>
                
                <input type="submit" value="登録する">
            </div>
        </form>
    </div>
</section>
{% endblock %}