<!DOCTYPE html>
{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="register-new-data">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="contents">
                <p>サイト名</p>
                {{ form.name|add_class:"input" }}

                <p>パスワード</p>
                {{ form.password|add_class:"input" }}
                
                <button type="submit">登録する</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}