<!DOCTYPE html>
{% load static %}

<header>
    <div class="wrapper">
        <div class="container">
            <div class="header-contents">
                <h1><a href="{% url 'pw_recorder:list' %}">My App</a></h1>

                <ul>
                    <li><a href="#">設定(仮)</a></li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
