<!DOCTYPE html>
{% load static %}

<header>
    <div class="container">
        <div class="header-contents">
            <div class="header-left">
                <a href="#">LOGO(仮)</a>
            </div>

            <div class="header-right">
                <ul>
                    <li>
                        <a href="#">設定(仮)</a>
                    </li>
                    <li>
                        <a href="#">login/out(仮)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>