<!DOCTYPE html>
{% extends "app/base.html" %}

{% block content %}
<section class="disp-data">
    <table>
        <tr class="col-name">
            <th>アプリ名</th>
            <th>パスワード</th>
            <th>作成日</th>
            <th>修正(仮)</th>
            <th>削除(仮)</th>
        </tr>

        {% for app in app_list %}
            <tr class="data">
                <td>{{app.name}}</td>
                <td>{{app.password}}</td>
                <td>{{app.created_at|date:"Y-m-j"}}</td>
            </tr>
        {% endfor %}
    </table>
</section>

<section class="side-bar">
    <nav>
        <div class="search-name">
            <form action="" method="get">
                <input name="query" value="{{ request.GET.query }}" type="text" placeholder="検索ワードを入力"/>
                <button type="submit">検索</button>
            </form>
        </div>
    </nav>
</section>
{% endblock %}