<!DOCTYPE html>
{% extends "app/base.html" %}

{% block content %}
<section class="display-data">
    <div class="container">
        <table>
            <tr class="col-name">
                <th>アプリ名</th>
                <th>パスワード</th>
                <th>作成日/更新日</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
    
            {% for app in app_list %}
                <tr class="data">
                    <td>{{app.site_name}}</td>
                    <td>{{app.password}}</td>
                    <td>{{app.created_at|date:"Y-m-j"}}</td>
                    <td>
                        <a href="{% url 'pw_recorder:update' app.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td>
                        <form method="post" action="{% url 'pw_recorder:delete' app.pk %}">
                            {% csrf_token %}
                            <button class="delete_btn" type="submit" onclick="return confirm('本当に削除しますか？');"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            <div class="current-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </div>

            <div class="page">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">前のページ</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">次のページ</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>



<section class="side-bar">
    <div class="wrapper">
        <div class="container">
            <aside>
                <div class="create-pass">
                    <a href="{% url 'pw_recorder:create' %}">新規作成</a>
                </div>
        
                <div class="search-name">
                    <form action="" method="get">
                        <input name="query" value="{{ request.GET.query }}" type="text" placeholder="検索ワードを入力"/>
                        <button type="submit">検索</button>
                    </form>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock %}