@charset "UTF-8";

/* ---------- share part ---------- */
body {
    margin: 0;
    height: 100vh;
}

header, footer {
    min-height: 5vh;
    background-color: rgb(47, 47, 43);
    color: white;
}

main {
    height: 90vh;
}

h1 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.wrapper {
    margin: auto 10%;
}

.container {
    margin: auto 1%;
}



/* ---------- header part ---------- */
.header-contents {
    display: flex;
    justify-content: space-between;
}

.header-contents ul {
    display: flex;
}

.header-contents li {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 5px;
}

.header-contents a {
    color: white;
}



/* ---------- main part ---------- */
main {
    display: flex;
    width: 100%;
}



/* ---------- display-data part ---------- */
.display-data {
    width: 75%;
    margin-left: 10px;
}

.display-data table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.display-data tr {
    line-height: 50px;
}

.col-name {
    border-bottom: 2px solid rgb(81, 83, 93);
}

.data {
    border-bottom: 2px dotted #ccc;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.page a {
    display: inline-block;
    border: 1px solid rgb(81, 83, 93);
    background-color: rgb(81, 83, 93);
    color: white;
}



/* ---------- side-bar part ---------- */
.side-bar {
    width: 35%;
    margin-right: 10px;
}

.side-bar nav {
    height: 90vh;
    margin: 0 auto;
    padding-left: 20px;
    border-left: 3px solid #ccc;
}

.search-name {
    margin: 30px 0;
}



/* ---------- register-new-data part ---------- */
.register-new-data {
    width: 80vw;
    margin: 70px auto 0 auto;
}

.contents {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.register-new-data p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 3px;
}

.input {
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
}

.register-new-data button {
    background-color: rgb(47, 47, 43);
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 30px;
	position:relative;
	top:-3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.register-new-data button:hover {
    opacity: 0.8;
    transition: all .5s;
}



/* ---------- footer part ---------- */
footer {
    text-align: center;
    font-size: small;
}

footer p {
    display: inline-block;
    padding-top: 10px;
}