@charset "UTF-8";

/* ---------------------- share part ---------------------- */
body {
    margin: 0;
    height: 100vh;
}

header, footer {
    min-height: 5vh;
    background-color: rgb(47, 47, 43);
    color: white;
}

main {
    height: 90vh;
}

h1 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.wrapper {
    margin: auto 10%;
}

.container {
    margin: auto 1%;
}


/* ---------------------- header part ---------------------- */
.header-contents {
    display: flex;
    justify-content: space-between;
}

.header-contents ul {
    display: flex;
}

.header-contents li {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 5px;
}

.header-contents a {
    color: white;
}


/* ----------------------- main part ----------------------- */
main {
    display: flex;
    width: 100%;
}


/* ------------------- display data part ------------------- */
.display-data {
    width: 75%;
    margin-left: 10px;
}

.display-data table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.display-data tr {
    line-height: 50px;
}

.col-name {
    border-bottom: 2px solid rgb(81, 83, 93);
}

.data {
    border-bottom: 2px dotted #ccc;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.page a {
    display: inline-block;
    border: 1px solid rgb(81, 83, 93);
    background-color: rgb(81, 83, 93);
    color: white;
}


/* --------------------- side bar part --------------------- */
.side-bar {
    width: 35%;
    margin-right: 10px;
}

.side-bar aside {
    height: 90vh;
    margin: 0 auto;
    padding-left: 20px;
    border-left: 3px solid #ccc;
}

.search-name {
    margin: 30px 0;
}


/* -------------------- form data part -------------------- */
.form-data {
    display: flex;
}


/* ---------------- register new data part ---------------- */
.register-new-data {
    width: 80vw;
    margin: 70px auto 0 auto;
}

.contents {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}

.name-contents, .pw-contents {
    display: flex;
    padding-left: 40px;
}

.register-new-data label {
    display: block;
    text-align: left;
    font-weight: bold;
    padding-left: 41px;
    margin-bottom: 3px;
}

.input {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
}

.register-new-data button {
    background-color: rgb(47, 47, 43);
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 30px;
	position:relative;
	top:-3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.register-new-data button:hover {
    opacity: 0.8;
    transition: all .5s;
}


/* ---------------------- popup part ---------------------- */
.create_pw_btn {
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(47, 47, 43);
    color: white;
    width: 70px;
    height: 29px;
    padding-top: 5px;
}

.name-contents .create_pw_btn {
    background-color: white;
    border: none;
}

.create_pw_btn:hover {
    opacity: 0.7;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
}


/* ------------------ create new pw part ------------------ */
.create-new-pw {
    background-color: red;
}


/* ---------------------- footer part ---------------------- */
footer {
    text-align: center;
    font-size: small;
}

footer p {
    display: inline-block;
    padding-top: 10px;
}